<div class="container border border-success rounded caja">

  <div class="container border border-success rounded caja"> </div>
  <div class="d-flex justify-content-evenly container border border-success rounded caja">
    <h1>FORMACION</h1>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#formacionModal">
      AGREGAR FORMACION
      <i class="fa-regular fa-circle-check"></i>
    </button>

    <!-- Modal -->
    <div class="modal fade" id="formacionModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
      aria-labelledby="formacionModallLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="formacionModalLabel">AGREGAR FORMACION</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form [formGroup]="newFormacionForm" (ngSubmit)="onSubmitFormacion()">


              <div class="mb-3">
                <label for="newNombreTitulo" class="form-label">Titulo </label>
                <input type="Text" formControlName="nombreTitulo" class="form-control" id="newNombreTitulo" required>
              </div>

              <div class="mb-3">
                <label for="newNombreInstituto" class="form-label">Nombre Instituto</label>
                <input type="Text" formControlName="nombreInstituto" class="form-control" id="newNombreInstituto"
                  required>
              </div>



              <div class="mb-3">
                <label for="newFechaInicio" class="form-label">Fecha Inicio</label>
                <input type="Text" formControlName="fechaInicio" class="form-control" id="newFechaInicio" placeholder="dd/mm/yyyy" required>
              </div>


              <div class="mb-3">
                <label for="newFechaFin" class="form-label">Fecha Fin</label>
                <input type="Text" formControlName="fechaFin" class="form-control" id="newFechaFin"  placeholder="dd/mm/yyyy" required>

              </div>

              <div class="mb-3">
                <label for="newfinalizado" class="form-label">Finalizado</label>

                <div class="form-check">
                  <input formControlName="finalizado" class="form-check-input" type="radio" name="finalizado"
                    id="exampleRadios1" value="true" checked>
                  <label class="form-check-label" for="exampleRadios1">
                    SI
                  </label>
                </div>
                <div class="form-check">
                  <input formControlName="finalizado" class="form-check-input" type="radio" name="finalizado"
                    id="exampleRadios2" value="false">
                  <label class="form-check-label" for="exampleRadios2">
                    NO
                  </label>
                </div>


              </div>

              <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">CREAR</button>


            </form>


          </div>
          <div class="modal-footer">


            <br>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container border border-success rounded caja"> </div>
 
  <br>

     <div class=" row d-flex justify-content-between " *ngFor="let formac of formacionList let i = index" id="experiencias" >
      <div  class="card position-static " >
        <div class="card-header">
              <h5 class="card-title"> {{formac.nombreTitulo}}</h5>  
          
        </div>
        <div class="card-body">
       
          <p class="card-text"> INSTITUTO:</p>
          <p class="card-text"> {{formac.nombreInstituto}}.</p>
          <h6>Fecha Inicio
             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  {{formac.fechaInicio}}
            <br>
            Fecha Finalizacion {{formac.fechaFin}}
          </h6>
          <h6 [ngSwitch]="formac.finalizado">Finalizado  
            <i *ngSwitchCase="true" class="fa-solid fa-circle-check"></i>
            <i *ngSwitchCase="false" class="fa-solid fa-circle-xmark"></i>
          </h6>


          <button type="button" (click)="mostrarDatosFormacion(i)" class="btn btn-success" data-bs-toggle="modal"
          data-bs-target="#formacionEditModal">
          EDITAR
          <i class="fa-solid fa-wand-magic-sparkles"></i>
        </button>
        </div>
      </div>

   
          <!-- Modal -->
          <div class="modal fade" id="formacionEditModal" data-bs-backdrop="static" data-bs-keyboard="false"
            tabindex="-1" aria-labelledby="formacionEditModallLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="formacionEditModalLabel">EDITAR FORMACION</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form [formGroup]="editFormacionForm" (ngSubmit)="onSubmitEditFormacion()">

                    <input type="hidden" formControlName="idFormacion" class="form-control">
                    <div class="mb-3">
                      <label for="newNombreTitulo" class="form-label">Titulo </label>
                      <input type="Text" formControlName="nombreTitulo" class="form-control" id="newNombreTitulo"
                        required>
                    </div>

                    <div class="mb-3">
                      <label for="newNombreInstituto" class="form-label">Nombre Instituto</label>
                      <input type="Text" formControlName="nombreInstituto" class="form-control" id="newNombreInstituto"
                        required>
                    </div>



                    <div class="mb-3">
                      <label for="newFechaInicio" class="form-label">Fecha Inicio</label>
                      <input type="Text" formControlName="fechaInicio" class="form-control" id="newFechaInicio" placeholder="dd/mm/yyyy"
                        required>
                    </div>


                    <div class="mb-3">
                      <label for="newFechaFin" class="form-label">Fecha Fin</label>
                      <input type="Text" formControlName="fechaFin" class="form-control" id="newFechaFin" placeholder="dd/mm/yyyy" required>

                    </div>

                    <div class="mb-3">

                      <label for="finalizado" class="form-label">Finalizado</label>
                      <div class="form-check">

                        <input formControlName="finalizado" class="form-check-input" type="radio" name="finalizado"
                          id="exampleRadios1" value="true">
                        <label class="form-check-label" for="exampleRadios1">
                          SI
                        </label>
                        <br>
                        <input formControlName="finalizado" class="form-check-input" type="radio" name="finalizado"
                          id="exampleRadios2" value="false">
                        <label class="form-check-label" for="exampleRadios2">
                          NO
                        </label>

                      </div>



                    </div>
                     <div class="row">
                       <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">EDITAR <i class="fa-solid fa-wand-magic-sparkles"></i></button>
                     
                     </div>
                    
                  </form>
                  <div class="row">
                   <button type="button" (click)="borrarFormacion(i)" class="btn btn-danger">
                      BORRAR
                      <i class="fa-solid fa-trash-can"></i>
                    </button>
                      </div>

                </div>
                <div class="modal-footer">


                  <br>
                </div>
              </div>
            </div>
          </div>
        </div>
    
   
      
    </div>

