<div class="container border border-success rounded caja">
       <div id="encabezadoTop">
              <img class="rounded-top border-bottom" id="headerImg"
                     src="https://upload.wikimedia.org/wikipedia/commons/9/94/Abstract_blue_background7.jpg">
       </div>
       <div id="encabezadoBottom">

              <div>
                     <img class="border border-primary rounded-circle" id="fotoPerfil"
                            src="https://i.postimg.cc/63X3dtT0/photo.jpg" alt="Foto del susodicho perfil">
                     <i id="icoConfigEncabezado" class="fa-solid fa-user-pen"></i>
              </div>



              <div id="nombreUsario" class="d-flex justify">
                     <h1 id="nombre">Nombre</h1>&nbsp;&nbsp;<h1 id="apellido">Apellido</h1>
              </div>


              <div class="d-flex justify-content-between">
                     <div class="d-flex flex-column">
                            <div class="d-flex p-2" id="descripUser">
                                   <p>Descripcion
                                          usuarioddddddddddddddddddddddddddddddddddddddddddd
                                   </p>
                            </div>

                            <div class="p-2" id="ubicacionUser">
                                   <p>Ciudad Usuario</p>
                            </div>
                     </div>
                     <div id="infoLista" >
                            <ul>
                                   <!--x si se requiera mas el codigo vacio seria
      
                    <li><a href="#"> <img scr=""><h2></h2></a></li>
                    -->
                                   <li><a href="#" target="_blank" >
                                          <p> <img src="https://seeklogo.com/images/N/newells-old-boys-logo-80B8CB2D1F-seeklogo.com.png">Algun link relevante</p>
                                               
                                          </a></li>
                                   <li><a href="#" target="_blank">
                                               <p>  <img src="https://seeklogo.com/images/N/newells-old-boys-logo-80B8CB2D1F-seeklogo.com.png">Algun link relevante</p>
                                          
                                          </a></li>

                            </ul>
                     </div>

              </div>





       </div>


       <button class="btn btn-danger">sepee</button>
       <button class="btn btn-danger">sepee</button>
       <button class="btn btn-danger">sepee</button>







</div>