 #headerImg{
   height: 10rem;
   width: 100%;
   
 
   
 }

 #fotoPerfil{
  
   height: 8rem;
   width:8rem;
   margin-left: 1.2rem;
   margin-top: -3.5rem;


  
 }
 #fotoPerfil:hover{
  height: 9rem;
  width:9rem;
 }

 #icoConfigEncabezado:hover{
   opacity: 0.8;
 
}
 
#infoLista{
  padding-right: 5rem;
}

 
a{
  text-decoration: none;
  color:#f5deb3 ;
}
h5{
  color: black;
}

.edicionModal p{
  color: black;
}
#nombre{
  display: flexbox;
  margin-right: 2rem;
}