 #headerImg{
   height: 150px;
   width: 100%;
   
 
   
 }

 #fotoPerfil{
  
   height: 90px;
   width: 90px;
   margin-left: 20px;
   margin-top: -50px;


  
 }
 #fotoPerfil:hover{
  height: 110px;
  width: 110px;
 }

 #icoConfigEncabezado:hover{
   opacity: 0.8;
 
}
 #icoConfigEncabezado{
  color: white;
  margin: 0 8px;
  font-size: 90%;
 }
#infoLista{
  padding-right: 20px;
}
 #infoLista img {
  width:30px;
  height:30px;
}
#infoLista a{
  text-decoration:none;
}
