<div class="container border border-success rounded caja">
  <div class="container border border-success rounded caja"> </div>
  <div class="d-flex justify-content-evenly container border border-success rounded caja">
    <h1>EXPERIENCIAS </h1>
    
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#experienciaNewModal">
      AGREGAR EXPERIENCIA
      <i class="fa-regular fa-circle-check"></i>
    </button>

    <!-- Modal -->
    <div class="modal fade" id="experienciaNewModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
      aria-labelledby="experienciaNewModallLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="experienciaNewModalLabel">AGREGAR EXPERIENCIA</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form [formGroup]="expeNewForm" (ngSubmit)="onSubmitNew()" >
              <input type="hidden" name="idExperiencia" formControlName="idExperiencia">
              <input type="hidden" name="logoEmpresa" formControlName="logoEmpresa">
    
              <div class="col-auto">
                <label for="inputEmpresa" class="form-label">EMPRESA</label>
                <input type="text" formControlName="empresa" class="form-control" id="inputEmpresa" placeholder="Empresa">
    
              </div>
    
    
              <div class="col-auto">
                <label for="inputPuesto" class="form-label">PUESTO</label>
                <input type="text " formControlName="puesto" class="form-control" id="inputPuesto" placeholder="Puesto">
              </div>
    
              <div class="col-auto">
                <label for="inputDescripcion" class="form-label">DESCRIPCION</label>
                <input type="text" formControlName="descripcion" class="form-control" id="inputDescripcion"
                  placeholder="Descripcion">
    
              </div>
    
    
    
              <div class="col-auto">
                <label for="inputFechaInicio" class="form-label">FECHA INICIO</label>
                <input type="text" formControlName="fechaInicio" class="form-control" id="inputFechaInicio"
                  placeholder="dd/mm/yyyy">
    
              </div>
    
              <div class="col-auto">
                <label for="inputFechaFin" class="form-label">FECHA FINALIZACION</label>
                <input type="text" formControlName="fechaFin" class="form-control" id="inputUrlResidencia"
                  placeholder="dd/mm/yyyy">
    
              </div>
    
    
              <div class="row-auto">
                <button type="submit" class="btn btn-primary mb-3" data-bs-dismiss="modal">Nueva Experiencia</button>
              </div>
    
            </form>


          </div>
          <div class="modal-footer">


            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
<div class="container border border-success rounded caja"> </div>
  

    <br>
   <div class=" row d-flex justify-content-between " *ngFor="let expLab of experienciaList let i = index">
   
    <div class="card position-static" >
      <img src="{{expLab.logoEmpresa}}" alt="logo empresa" class="card-img-top" >
      <div class="card-body">
        <h3 class="card-title">{{expLab.empresa}}</h3>
        <h6 class="card-title">{{expLab.puesto}}</h6>
        <p class="card-text">{{expLab.descripcion}}</p>
        <div id="fechasExper">
          <h6> Inicio {{expLab.fechaInicio}}
            <br>
             Finalizacion {{expLab.fechaFin}}
          </h6>
        </div>
        <button type="button" (click)="cargarEditForm(i)" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#experienciaEditModal">
          EDITAR 
          <i class="fa-solid fa-wand-magic-sparkles"></i>
        </button>
      </div>
    </div>
   

<!-- Modal -->
<div class="modal fade" id="experienciaEditModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="experienciaEditModallLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="experienciaEditModalLabel">EDITAR EXPERIENCIA</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="expeEditForm" (ngSubmit)=" onSubmitEdit()">

          <div>
            <input type="hidden"  class="form-control" name="idExperiencia" formControlName="idExperiencia">

          </div>

          <div>
            <label for="puesto" class="form-label">PUESTO</label>
            <input type="text"  formControlName="puesto" class="form-control" id="puesto" placeholder="Puesto">
          </div>

          <div>
            <label for="descripcion" class="form-label">DESCRIPCION</label>
            <input type="text"  formControlName="descripcion" class="form-control" id="descripcion" placeholder="Descripcion">
          </div>

          <div>
            <label for="empresa" class="form-label">EMPRESA</label>
            <input type="text"  formControlName="empresa" class="form-control" id="empresa" placeholder="Empresa">
          </div>

          <div>
            <label for="fechaInicio" class="form-label">INICIO</label>
            <input type="text" formControlName="fechaInicio"    class="form-control" id="fechaInicio" placeholder="Fecha Inicio">
          </div>

          <div>
            <label for="fechaFin" class="form-label">FINALIZACION</label>
            <input type="text" formControlName="fechaFin"  class="form-control" id="fechaFin" placeholder="Fecha Finalizacion">
          </div>

          <div>
            <label for="logoEmpresa" class="form-label">LOGO EMPRESA</label>
            <input type="text" formControlName="logoEmpresa" class="form-control" id="logoEmpresa" placeholder="URL LOGO EMPRESA">
          </div>

        

          <br>
          <div class="row">
            <button type="submit" class="btn btn-primary mb-3" data-bs-dismiss="modal">Editar<i class="fa-solid fa-wand-magic-sparkles"></i></button>
      
          </div>
      
        </form>
        <div class="row">
        <button type="button" (click)="borrarExperiencia(i) " class="btn btn-danger" >
              Borrar
               <i class="fa-solid fa-trash-can"></i>
              </button>
        </div>
   

      </div>
      <div class="modal-footer">


        <br>
      </div>
    </div>
  </div>
</div>
   



</div>





       
        </div>
        
       
      