

<div class=" content">
  <!-- Toolbar -->
<div class="toolbar">
 <a href="https://argentinaprograma.inti.gob.ar/"> 
   <img
    width="100"
    alt="ARGENTINA PROGRAMA"
     src="//argentinaprograma.inti.gob.ar/pluginfile.php/1/theme_moove/logo/1645588080/APLogo-20-20.png" 
  />
</a>
 
  <span>PORTFOLIO TRABAJO FINAL</span>
   
    <div class="spacer"></div>
    <div><i id="loginIcon" class="fa-solid fa-user"></i></div>
    <div>
      <a href="https://t.me/federico_1985" target="_blank"><i title="TELEGRAM" id="telegram-logo" class="fa-brands fa-telegram"></i></a> </div>
    
</div>

 <div class="cuerpo">
<br>
  
 
   <app-encabezado ></app-encabezado> 
   <br>
   <app-experiencia></app-experiencia>
   <br>
  </div>

 </div>
  

  
  
