



<!-- Toolbar -->
<div class="toolbar" role="banner">
 
  <img
    width="100"
    alt="ARGENTINA PROGRAMA"
     src="//argentinaprograma.inti.gob.ar/pluginfile.php/1/theme_moove/logo/1645588080/APLogo-20-20.png" 
  />
  <span>PORTFOLIO TRABAJO FINAL</span>
   
    <div class="spacer"></div>
    <div><i id="loginIcon" class="fa-solid fa-user"></i></div>
    <div>
      <a href="https://t.me/fede_85n" target="_blank"><i title="TELEGRAM" id="telegram-logo" class="fa-brands fa-telegram"></i></a> </div>
    
</div>
<!-- BODY -->
<div class="content modulo" role="main">
 
  <button class="btn btn-danger" >TEST DE EPILEPSIA</button>
  
  <div class="container">
   <app-encabezado></app-encabezado> 
  </div>
  
  
</div>