

<div class="container border border-success rounded caja">
   <div class="container border border-success rounded caja"> </div>

    
  
  
    <div class="d-flex justify-content-around container border border-success rounded caja">
      
    <h1>HARD SKILLS</h1>
          <!-- Button trigger modal -->
     <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#hardSkillsModal">
       AGREGAR HARD-SKILL 
 
 
       <i class="fa-regular fa-circle-check"></i>
        </button>
 
      <!-- Modal -->
      <div class="modal fade" id="hardSkillsModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="hardSkillsModalLabel" aria-hidden="true">
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
         <h5 class="modal-title" id="hardSkillsModalLabel">AGREGAR HARD-SKILL</h5>
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
       </div>
       <div class="modal-body">
       
       <form [formGroup]="hardSkillForm" (ngSubmit)="onSubmitHardSkill()">
        <div class="mb-3">
          <label for="inputNombreHardSkill" class="form-label">Nombre Hard Skill</label>
          <input type="Text" formControlName="nombreHardSkill" class="form-control" id="inputNombreHardSkill" >
        </div>
        <div class="mb-3">
          <label for="porcentajeHSkill" class="form-label">Porcentaje Skill</label>
          <input type="number" formControlName="porcentajeHardSkill" class="form-control" id="porcentajeHSkill"  min="0" max="100" >
        
          
          
       
        </div>

        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Crear</button>
       </form>
       
        
       </div>
       <div class="modal-footer">
      <br>
      <br>
         
       </div>
     </div>
   </div>
 </div>

   </div>
   
   
    
  
  
  

  <div class="row   container border border-success rounded caja">

   <span  *ngFor="let hardSkill of hardSkillsList let i = index"  id="hardSkills">
      
     

  <circle-progress 
      [title]=" hardSkill.nombreHardSkill +' '+ hardSkill.porcentajeHardSkill +' %'"
      [titleColor]=" 'white' "
      [showUnits]="false"
      [showSubtitle]="false"
      [subtitleColor]="'white'"
      [percent]=" hardSkill.porcentajeHardSkill "
      [radius]="85"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="800" >
     
       </circle-progress>

  <i (click)="borrarHardSkill(i)" class="fa-solid fa-circle-xmark"> </i>
 

      </span>
       
      

   
  </div>  
   
<div >
  <div class="container border border-success rounded caja"> </div>
  
  <div class="d-flex justify-content-around container border border-success rounded caja">

<h1>SOFT SKILLS</h1>
             <!-- Button trigger modal -->
             <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#softSkillsModal">
             AGREGAR SOFT-SKILL 
             <i class="fa-regular fa-circle-check"></i>
              </button>
       
            <!-- Modal -->
            <div class="modal fade" id="softSkillsModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="softSkillsModallLabel" aria-hidden="true">
         <div class="modal-dialog">
           <div class="modal-content">
             <div class="modal-header">
               <h5 class="modal-title" id="softSkillsModalLabel">AGREGAR SOFT-SKILL</h5>
               <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
             </div>
             <div class="modal-body">
              <form [formGroup]="softSkillForm" (ngSubmit)="onSubmitSoftSkill()">
                <div class="input-group mb-3">
                  <input type="text" formControlName="nombreSkill" class="form-control" placeholder="TITULO DE SOFT-SKILL" aria-label="Recipient's username" aria-describedby="button-addon2">
                  <button class="btn btn-primary" type="submit" id="button-addon2"data-bs-dismiss="modal">Agregar</button>
                </div>
              
               </form>
               
                
               </div>
               <div class="modal-footer">
            
          
                 <br>
               </div>
           </div>
         </div>
       </div>
 


  </div>

  
  <div class="container border border-success rounded caja"> </div>





<div class="row d-flex justify-content-center ">
  <div *ngFor="let softSkill of softSkillsList  let m = index" id="softSkills ," style="max-width: 18rem;">
<br>
    <button (click)="borrarSoftSkill(m)" type="button" class="btn btn-success"> <span>{{softSkill.nombreSkill}}&nbsp; &nbsp;</span>  <i  class="fa-solid fa-circle-xmark"></i></button>
<br>

</div>
</div>   

  <div class="container border border-success rounded caja"> </div>



<br>










</div>
   