.spacer {
    flex: 1;
  }

  .toolbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: rgb(12, 112, 12);
    color: white;
    font-weight: 600;
  }

  
   .loginIcon{
    color: white;
    margin: 0 0.5rem;
    font-size: 2rem;

  }

  .loginIcon:hover {
    opacity: 0.8;
  }


 

  
 