<div class="toolbar">
    <a href="https://argentinaprograma.inti.gob.ar/"> 
      <img
       width="100"
       alt="ARGENTINA PROGRAMA"
        src="//argentinaprograma.inti.gob.ar/pluginfile.php/1/theme_moove/logo/1645588080/APLogo-20-20.png" 
     />
   </a>
    
     <span>PORTFOLIO TRABAJO FINAL</span>
      
       <div class="spacer"></div>
       
       <div>
         <i  class="fa-solid fa-user loginIcon"></i>
         <a href="https://t.me/federico_1985" target="_blank"><i title="TELEGRAM" class="logosIcon" class="fa-brands fa-telegram loginIcon"></i></a> </div>
         <a href="https://github.com/FedericoGonzalo " target="_blank"><i title="GITHUB" class="logos" class="fa-brands fa-github loginIcon"></i></a>
         <a href="https://www.linkedin.com/in/federico-su%C3%A1rez-mart%C3%ADn-a82383234/" target="_blank"><i title="TELEGRAM"  class="fa-brands fa-linkedin loginIcon"></i></a>
   </div>
   
  